*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #a09038;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #fff;
    /* border-bottom: 15px ridge #fff; */
    margin-bottom: 45px;
}

.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    height: 50%;
}

.logo{
    width: 150px;
}

header ul li{
    padding: 25px;
    /* border-bottom: 2px dashed #fff; */
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color: #c0a717;
    text-decoration: underline;
}

ul{
    display: flex;
    align-items: flex-end;
    list-style: none;
    font-style: italic;
    font-weight: 250;
}

a{
    text-decoration: none;
}

body{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background: url(../img/pexels-jakub-novacek-924824.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
}

.container .name h5{
    font-size: 25px;
}

#arrow{
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
/* https://animista.net/ */
@keyframes blink{
    /* to{
        visibility: hidden;
    } */
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

#animation{
    transition: 300ms;
    /* animation: blink 1s steps(5, start) infinite; */
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
    /* animation: blink 1s steps(5, start) infinite; */
}

.active{
    display: block !important;
}

/*
.flex{
    display: flex;
}

.flex div{
    border: 1px solid #000;
    margin: 15px;
    flex-basis: 100%
}

.flex img{
    max-width:250px;
}
*/

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form{
    width: 40%;
    margin: 0 auto;
    margin-top: 0px;
    /* border: thick double #fff; */
    padding: 25px;    
}

.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.form button{
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #c09717 50%, #9c551b 50%) ;
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition:all 300ms ease-out;
    border-radius: 0 5px 5px 0;
    margin-top: 5px;
    margin-left: -5px;
}

.form button:hover{
    background-position: left bottom;
}

@media only screen and (max-width: 768px){
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .container .name h1{
        font-size: 30px;
    }
    .container .name h5{
        font-size: 15px;
    }
    #about p{
        max-width: 80%;
        text-align: justify;
    }
}
